.container-fluid {
  transition: all 0.3s ease-in-out;
}

.nav-item {
  cursor: pointer;
}

.navbar {
  border-radius: 16px;
}

@media screen and (max-width: 768px) {
  .navbar {
    border-radius: 0;
  }
}

.tab-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 17px;
  color: gray;
  padding: 8px;
}

.tab-button:hover {
  color: white;
}

.navbar {
  z-index: 999;
}
