.ant-descriptions-view {
  padding-top: 10px;
}

.ant-descriptions-row {
  display: flex;
  flex-direction: column;
}

.ant-descriptions .ant-descriptions-row > th,
:where(.css-dev-only-do-not-override-k7429z).ant-descriptions .ant-descriptions-row > td {
  padding-bottom: 0;
}

:where(.css-dev-only-do-not-override-k7429z).ant-card .ant-card-meta-description {
  font-size: 15px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}

:where(.css-dev-only-do-not-override-k7429z).ant-card .ant-card-meta-detail > div:not(:last-child) {
  font-weight: bold;
  font-size: 18px;
}

.rating-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating-cycle {
  align-items: center;
  align-self: flex-start;
  border: 3px solid rgba(102, 233, 0);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  min-width: 30px;
  padding: 0;
  height: 60px;
  width: 60px;
}

.vote-average {
  padding: 10px;
}
