.input {
  position: relative;
  width: 100%;
}

.search-img {
  position: absolute;
  opacity: 0.5;
}

.search-img > svg {
  width: 23px;
  height: 23px;
  margin-left: 15px;
  margin-top: 12px;
}

.btn {
  position: relative;
  border-radius: 22px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search-btn-img > svg {
  width: 32px;
  height: 32px;
}

.search-btn-img {
  position: absolute;
  top: 5px;
  left: 10px;
}

.form {
  border-radius: 22px;
  transition: 100ms ease-in-out;
}

.form:hover {
  box-shadow: 0 0 0 0.1rem #1677ff6c;
}
