*,
*::after,
*::before {
  box-sizing: border-box;
}

#root {
  box-shadow: 4px 4px 28px 13px rgba(34, 60, 80, 0.2);
  max-width: 1240px;
  width: 100%;
  transition: 1s;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  padding-bottom: 40px;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 5px;
  display: grid;
  place-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8c1535",endColorstr="#000000",GradientType=1);
}

@media screen and (max-width: 768px) {
  body {
    padding: 0;
  }

  #root {
    border-radius: 0;
    border: none;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
